body {
  text-align: center;
  background-image: url("../images/background.png");
  background-size: cover;
}

input {
  margin: 5px;
}

.roshambo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.roshambo-card {
  border: 1px solid black;
  height: 80%;
  margin: 10px;
  background-color: #FFF;
}

.rashambo-icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: cover;
}

/*
.rashmbo-icon:hover {
  -webkit-filter: blur(20px); filter: blur(20px);
  -webkit-filter: brightness(0.25); filter: brightness(0.25);
}
*/
ul.rashambo-icon-container {
  display: flex;
  height: 60%;
}
li.rock {
  background-image: url("../images/rock.png");
  align-self: flex-start;
}
li.paper {
  background-image: url("../images/paper.png");
  align-self: flex-end;
}
li.scissors {
  background-image: url("../images/scissors.png");
  align-self: flex-start;
}

#user-info {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
}
#user-choice, #user-status, #opponent-choice, #opponent-status {
  align-self: flex-end;
  width: 100%;
  display: block;
}

#latest-messages{
  overflow-y: scroll;
}